.header .container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  font-size: 24px;
  color: black;

  padding-top: 20px;
  padding-bottom: 20px;
}
