.hero {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__title {
  font-size: 6vw;
  font-weight: 700;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hero__subtitle {
  max-width: 50%;

  // font-size: 28px;
  font-size: 2vw;
  font-weight: 500;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
