html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

section {
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
  &-thumb {
    background-color: #acabab;
    &:hover {
      background-color: #555;
    }
  }
}
