.video__anchor {
  display: block;
  padding-bottom: 40px;
}

.instruction__anchor {
  display: block;
  padding-bottom: 40px;
}

.pricing__anchor {
  display: block;
  padding-bottom: 40px;
}

.questions__anchor {
  display: block;
  padding-bottom: 40px;
}

.testimonials__anchor {
  display: block;
  padding-bottom: 40px;
}
