.header__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;

  margin-left: auto;
  margin-right: auto;
}

.video__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;

  margin-left: auto;
  margin-right: auto;
}

.instruction__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;

  margin-left: auto;
  margin-right: auto;
}

.testimonials__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 315px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;

  margin-left: auto;
  margin-right: auto;
}

.pricing__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 350px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;

  margin-left: auto;
  margin-right: auto;
}

.pricing__benefit-list__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  border: solid black 2px;
  border-radius: 30px;

  font-size: 24px;
  color: black;

  margin-left: auto;
  margin-right: auto;
}
